@charset "UTF-8";
@media only screen and (max-width: 480px) {
  body {
    min-width: 375px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: normal;
  flex-direction: initial;
  background-color: #1dace0;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
  color: #fff;
  margin: 0;
  padding: 5px 0;
}

header .icon {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: initial;
  margin-left: 80px;
  color: #fff;
}

header .icon img {
  height: 60px;
}

header .icon .name strong {
  color: #eae51f;
}

@media only screen and (max-width: 480px) {
  header .icon .name strong {
    display: none;
  }
}

header .header_right {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: initial;
  margin-right: 80px;
}

header .header_right li:first-child {
  margin-right: 20px;
}

@media only screen and (max-width: 480px) {
  header .header_right {
    display: none;
  }
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
  color: #fff;
  background-image: url(../img/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.welcome #margin-for-fixd {
  margin-top: 70px;
}

.welcome .title {
  font-size: 64px;
}

@media only screen and (max-width: 480px) {
  .welcome .title {
    font-size: 30px;
  }
}

.welcome .guidline {
  margin-top: 50px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  color: #fff;
  /*boldは700指定と一緒*/
}

@media only screen and (max-width: 480px) {
  .welcome .guidline {
    margin-top: 30px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    line-height: 24px;
    color: #fff;
  }
}

.welcome .guidline li:not(:first-child) {
  margin-top: 16px;
}

.btn-group {
  margin-top: 60px;
}

@media only screen and (max-width: 480px) {
  .btn-group {
    display: flex;
    justify-content: normal;
    align-items: center;
    flex-direction: column nowrap;
    margin-top: 40px;
  }
}

.btn-group .btn {
  height: 55px;
  width: 170px;
  margin-left: 120px;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  color: #fff;
  border-radius: 10px;
}

@media only screen and (max-width: 480px) {
  .btn-group .btn {
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    color: #fff;
    height: 48px;
    width: 40%;
  }
}

.btn-group .btn:first-child {
  margin-left: 0;
}

@media only screen and (max-width: 480px) {
  .btn-group .btn:first-child {
    margin-top: 0;
  }
}

.btn-group .register {
  background-color: rgba(29, 172, 224, 0.5);
  border: 3px solid rgba(29, 172, 224, 0.5);
}

.btn-group .register:hover {
  background-color: #1dace0;
}

.btn-group .login {
  background-color: rgba(234, 227, 35, 0.5);
  border: 3px solid rgba(234, 227, 35, 0.5);
}

.btn-group .login:hover {
  background-color: #eae323;
}

.curriculm {
  margin-top: 50px;
}

.curriculm .sub-title {
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
  color: #fff;
}

.curriculm .img-box {
  margin: 50px 0;
}

.curriculm .img-box li {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  /*liとaのタグを縦に整列*/
  text-align: center;
  margin-right: 60px;
}

.curriculm .img-box li:last-child {
  margin-right: 0;
}

.curriculm .img-box li img {
  width: 300px;
  height: 300px;
}

.curriculm .img-box li span {
  font-size: 24px;
  margin-top: 20px;
}

@media only screen and (max-width: 1280) {
  .curriculm .img-box {
    display: flex;
    justify-content: space-around;
    align-items: normal;
    flex-direction: initial;
  }
  .curriculm .img-box li {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 960px) {
  .curriculm .img-box {
    flex-wrap: wrap;
    align-items: space-around;
  }
  .curriculm .img-box li {
    margin: 30px 0 0 0;
    padding: 0;
  }
}

.contact {
  background-color: rgba(29, 172, 224, 0.5);
  height: 350px;
  display: flex;
  justify-content: normal;
  align-items: normal;
  flex-direction: column;
  margin: 50 0 0 0;
  padding: 0;
  text-align: center;
}

@media only screen and (max-width: 960px) {
  .contact {
    height: 100%;
    padding: 40px 20px;
  }
  .contact li {
    margin: 30px 0 0 0;
    padding: 0;
  }
}

.contact .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0 40px;
}

.contact .form .form-left {
  margin-right: 50px;
}

@media only screen and (max-width: 960px) {
  .contact .form .form-left {
    flex-flow: column nowrap;
    margin: 30px 0;
  }
}

.contact .form .name,
.contact .form .email {
  height: 50px;
  width: 400px;
  box-sizing: border-box;
}

@media only screen and (max-width: 960px) {
  .contact .form .name,
  .contact .form .email {
    width: 80%;
  }
}

.contact .form .name {
  margin-bottom: 20px;
}

.contact .form .inquiry {
  height: 120px;
  width: 400px;
  box-sizing: border-box;
}

@media only screen and (max-width: 960px) {
  .contact .form .inquiry {
    width: 80%;
  }
}

.contact button {
  background-color: #1dace0;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
  color: #fff;
  border: solid 2px #1dace0;
  box-sizing: border-box;
  transition-duration: 500ms;
}

@media only screen and (max-width: 960px) {
  .contact button {
    font-size: 20px;
    padding: 5px 40px;
    box-sizing: border-box;
  }
}

.contact button:hover {
  background-color: #fff;
  border: solid 2px #1dace0;
  box-sizing: border-box;
  color: #1dace0;
  transition-duration: 500ms;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
  background-color: #233f51;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  line-height: 24px;
  color: #fff;
  padding: 5px;
}

footer .footer-right {
  margin-right: 80px;
}

@media only screen and (max-width: 480px) {
  footer .footer-right {
    margin: auto;
  }
}

@media only screen and (max-width: 480px) {
  footer .icon {
    margin-left: 20px;
    display: none;
  }
}
