@import "_res.scss";

body{
	@include mediaq(s){
		min-width: 375px;
		}
	}

header{
	@include flex($jc:space-between);
		background-color:$maincolor;
	@include font($fs:18px,$c:$white);
	@include space($p:5px 0);
	.icon{
		@include flex($ai:center);
			margin-left: 80px;
			color: $white;
			@include mediaq(s){
				margin-left:20px;
			}
	}
	.icon img{
		height: 60px;
	}
	.icon .name{
		@include mediaq(s){
			display: none;
		}
	}
	.icon .name strong{
		color:$subcolor;
	}
	.header_right{
		@include flex($ai:center);
		margin-right: 80px;
		li{
			&:hover{
			opacity:.5;
			transition-duration:500ms;
			}
			&:first-child{
				margin-right:20px;
			}
		}
		@include mediaq(s){
			display: none;
		}
	}
}

.welcome{
	@include flex($jc:center,$fd:column);
	@include  font($ta:center,$c:$white);
	@include bg($bg-c:#fff,$bg-r:no-repeat,$bg-s:cover);
	background-image: url("../img/background1.jpg");
	background-attachment: fixed;
	height: 100vh;
	#margin-for-fixd{
		margin-top:70px;
	}
	.title{
		@include font($fs:64px);
		@include mediaq(s){
			font-size: 30px;
			}
	}
	.guidline{
		margin-top:50px;
		@include  font($fs:28px,$fw:bold);/*boldは700指定と一緒*/
		@include mediaq(s){
			margin-top:30px;
			@include  font($fs:24px,$fw:normal);
		}
	li{
		&:not(:first-child){
			margin-top: 16px;
			}
		}
	}
}

.btn-group{
	margin-top: 60px;
		@include mediaq(s){
		@include flex($ai:center,$fd:column nowrap);
		@include mediaq(s){
			@include flex($fd:column,$ai:center);
			}
		 	margin-top: 40px;
		}
	.btn{
		@include space($h:55px,$w:170px,$m:0 120px 0 0);
		cursor: pointer;
		@include  font($fs:28px,$fw:bold,$c:$white);
		border-radius: 10px;
		@include mediaq(s){
			@include  space($m:20px 0,$p:0);
			@include  font($fs:24px,$fw:bold);
			@include space($h:48px,$w:40%);
		}
		&:first-child{
			margin-left:0;
			@include mediaq(s){
				margin-top:0;
			}
		}
	}
	.register{
		background-color:rgba(29,172,224,.5);
		border: 3px solid rgba(29,172,224,.5);
		&:hover{
			transition-duration: 500ms;
			background-color:rgb(29,172,224);
		}
	}
	.login{
		margin-right:0;
		@include mediaq(s){
		margin:30px 0 0 0;
		}
		background-color:rgba(234,227,35,.5);
		border: 3px solid rgba(234,227,35,.5);
		&:hover{
			transition-duration:500ms; 
			background-color:rgb(234,227,35);
		}
	}
}

.curriculm{
	margin-top: 50px;
	.sub-title{
		@include  font($fs:36px,$ta:center,$c:#000,$fw:bold);
	}
	.img-box{
		@include flex($jc:center);
		margin:50px 0;
		li{
		@include flex($ai:center,$fd:column);/*liとaのタグを縦に整列*/
			text-align: center;
			margin-right: 60px;
			&:last-child{
				margin-right:0;
			}
			img{
				@include space($h:300px,$w:300px);
			}
			span{
				font-size: 24px;
				margin-top: 20px;
			}
		}
			@include media{
				@include flex($jc:space-around);
				li{
					margin-right: 30px;
				}
			}
			@include mediaq(m){
				flex-wrap: wrap;
				align-items:  space-around;
				li{
				@include  space($m:30px 0 0 0);
				}
			}
		}
	}

.contact{
	background-color:rgba(29,172,224,.5);
	@include flex($fd:column);
	@include  space($h:350px,$m:50px 0 0 0,$p:50px 0 0 0);
	text-align: center;
	@include mediaq(m){
			height:450px;
			li{
				@include  space($m:30px 0 0 0);
			}
		}
	.sub-title{
		font-size:36px;
	}
	& .form{
		@include flex($jc:center);
		margin: 50px 0 40px;
		.form-left{
			margin-right: 50px;
			@include mediaq(m){
				margin: 0 0	30px 0;
			}
		}
		@include mediaq(m){
			flex-flow: column nowrap;
			margin:30px 0;
			}
		& .name,
		& .email{
			@include space($h:50px,$w:400px);
		    box-sizing: border-box;
		@include mediaq(m){
			width:80%;
			}
		}
		& .name{
			margin-bottom: 20px;
		}
		.inquiry{
			@include space($h:120px,$w:400px);
		    box-sizing: border-box;
		@include mediaq(m){
			width:80%;
			}
		}
	}
	& button{
		@include button($b-p:15px 20px,$b-b:solid 2px $maincolor,$b-br:3px,$b-fs:24px,$b-c:$white,$b-bg-c:$maincolor);
		transition-duration: 500ms;
		@include mediaq(m){
			@include button($b-p:5px 40px,$b-b:solid 2px $maincolor,$b-br:3px,$b-fs:24px,$b-c:$white,$b-bg-c:$maincolor);
			}
		&:hover{
			opacity: .5;
			transition-duration: 500ms;
		}
	}
}

footer{
	@include flex($jc:space-between,$ai:center);
	@include  font($fs:18px,$c:$white);
	background-color: #233f51;
	padding: 5px;
	 .footer-right{
		margin-right: 80px;
		@include mediaq(s){
			@include space($m:auto,$p:0);
		}
	}
	.icon{
		strong{
			color:$subcolor;
		}
		@include flex($ai:center);
			margin-left:80px;
			img {
				height:60px;
			}
		@include mediaq(s){
			margin-left:20px;
			display: none;
		}
	}
}

